<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="autorep.editor.LyapasEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="l"
            icon="icons/logo.gif"
            id="autorep.editor.LyapasEditor"
            name="LYaPAS Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="autorep.views.log.OurLog"
            id="autorep.views.log.OurLog"
            name="Log"
            restorable="true">
      </view>
      <view
            class="autorep.views.window.LyapasSymbols"
            id="autorep.views.window.LyapasSymbols"
            name="Symbols"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="autorep.perspective.LyapasPersp">
         <view
               id="autorep.views.window.LyapasSymbols"
               minimized="false"
               relationship="right"
               relative="autorep.views.log.OurLog">
         </view>
         <view
               id="autorep.views.log.OurLog"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="autorep.perspective.LyapasPersp"
            id="autorep.perspective.LyapasPersp"
            name="Lyapas IDE">
      </perspective>
   </extension>

</plugin>
