<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
	 	    id="LyapasBuilder"
	 	    name="Lyapas Project Builder"
	 	    point="org.eclipse.core.resources.builders">
	 	 <builder
	 	       hasNature="true">
		     <run
		           class="autorep.builder.LyapasBuilder">
	   	  </run>
	 	 </builder>
	</extension>

	<extension
	         id="LyapasNature"
	         name="Lyapas Project Nature"
	         point="org.eclipse.core.resources.natures">
	  <runtime>
	     <run
	           class="autorep.builder.LyapasNature">
	     </run>
	  </runtime>
	  <builder
	        id="autorep.LyapasBuilder">
	  </builder>
	</extension>
	
	<extension
	         point="org.eclipse.ui.popupMenus">
	      <objectContribution
	            adaptable="true"
	            objectClass="org.eclipse.core.resources.IProject"
	            nameFilter="*"
	            id="autorep.contribution1">
	         <action
	               label="Add/Remove Lyapas Nature"
	               class="autorep.builder.ToggleNatureAction"
	               menubarPath="additions"
	               enablesFor="+"
	               id="autorep.addRemoveNatureAction">
	         </action>
	      </objectContribution>
	</extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="LYaPAS Editor"
            extensions="l"
            icon="icons/logo.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="autorep.editor.LyapasEditor"
            id="autorep.editor.LyapasEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="autorep.views.log.OurLog"
            id="autorep.views.log.OurLog"
            name="Log"
            restorable="true">
      </view>
      <view
            class="autorep.views.window.LyapasSymbols"
            id="autorep.views.window.LyapasSymbols"
            name="Symbols"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="autorep.perspective.LyapasPersp">
         <view
               id="autorep.views.window.LyapasSymbols"
               minimized="false"
               relationship="right"
               relative="autorep.views.log.OurLog">
         </view>
         <view
               id="autorep.views.log.OurLog"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="autorep.perspective.LyapasPersp"
            id="autorep.perspective.LyapasPersp"
            name="Lyapas IDE">
      </perspective>
   </extension>

</plugin>
