

правила:

	1. каждый параграф на новой строке

	2. отступы на каждой строке зависят от длины максимально длинного параграфа
		(длина макс. длинного параграфа + 2 пробела)

	3. отступы после ($) параграфов - 2 пробела

	4. до /'...'>C  \n и после \n

	6. ↑(i=Q2)6;

	7. b⇒a;

	8. (a*10+b)⇒a; (без пробелов между операндами)

	9. ⇔(F1ij);

	10. a@>F2

	11. одна формула на одной строке;

	12. ...→1 (без пробела)		(↪,↦ так же);

	13. до '**' \n, но если там '$1  **', то не надо;

	14. комментарии (***) - отступ 2 пробела + \n\n после
